
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Edzőmeccs felvitele", "Create", "Home", null, new { @class = "btn btn-default"})

